@use '../util/functions' as *;
@use '../util/variables' as *;
@use '../util/breakpoint' as *;

.footer {
	background-color: $first-color;
}

.footer__container {
	padding: 2rem 0 6rem;
	margin: 0 auto;
}

.footer__title,
.footer__link {
	padding: 1rem 0;

	color: $body-color;
	text-align: center;
}

.footer__list {
	display: flex;
	justify-content: center;
	column-gap: 1.5rem;
	margin-bottom: 2rem;
}

.footer__follow {
	padding-bottom: 1rem;

	text-align: center;
	color: $body-color;
}

.footer__social {
	display: flex;
	justify-content: center;
	column-gap: 1.25rem;

	&-link {
		display: inline-flex;
		padding: 0.25rem;

		font-size: 1rem;
		border-radius: 0.25rem;
		background-color: $body-color;
		color: $first-color;
	}
}

.footer__copy {
	display: block;
	margin-top: 4.5rem;

	color: $container-color;
	text-align: center;
	font-size: $smaller-font-size;
}
