@use '../util/functions' as *;
@use '../util/variables' as *;
@use '../util/breakpoint' as *;

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;

	z-index: $z-fixed;
	background-color: $body-color;

	.nav {
		height: $header-height;
		display: flex;
		justify-content: space-between;
		align-items: center;

		&__logo {
			color: $first-color;
			font-weight: $font-medium;
			transition: 0.4s;

			&:hover {
				color: $first-color-alt;
			}
		}

		&__menu {
			position: fixed;
			bottom: rem(16);
			left: 50%;
			transform: translateX(-50%);
			width: 90%;
			padding: rem(16) rem(40);

			background-color: hsla($second-hue, 32%, 16%, 0.8);
			border-radius: rem(64);
			backdrop-filter: blur(rem(10));
		}

		&__list {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		&__link {
			padding: rem(6);
			display: flex;

			border-radius: rem(80);
			font-size: rem(20);
			color: $text-color;
		}
	}

	// Active Link
	.active-link {
		background: linear-gradient(
			180deg,
			hsla($first-hue, $sat, $lig, 1),
			hsla($first-hue, $sat, $lig, 0.2)
		);

		box-shadow: 0 0 rem(16) hsla($first-hue, $sat, $lig, 0.4);
	}
}
