@use '../util/functions' as *;
@use '../util/variables' as *;
@use '../util/breakpoint' as *;

.services__container {
	grid-template-columns: repeat(2, 1fr);
	gap: 1.5rem;
	padding-top: 1rem;
}

.services__card {
	height: rem(140);
	position: relative;
	padding: 2rem 1.5rem 1.5rem;

	background-color: $container-color;
	border-radius: 1rem;
}

.services__title {
	margin-bottom: 2rem;

	font-size: $h3-font-size;
}

.services__button {
	position: absolute;
	bottom: rem(20);
	display: flex;
	align-items: center;
	column-gap: 0.25rem;

	color: $first-color;
	font-size: $small-font-size;
	cursor: pointer;

	&:hover .services__icon {
		transform: translateX((0.25rem));
	}
}

.services__icon {
	font-size: 1rem;
	transition: 0.4s;
}
