@use 'functions' as *;
@use '_colors' as *;

html {
	font-size: 100%;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

body {
	font-size: rem(16);
	font-family: Arial, Helvetica, sans-serif;
	background: $dark-gray;
	color: $white;
}
